<style>
		.pdf-area{
			font-size: 50pt;
		}
		.pdf-area div{
			margin:10px 0px;
		}
		.pdf-area .page .header .date{
			float:right;
			margin-bottom: 80pt;
			font-size: 40pt;
			color:#555;
		}
		.clear{
			clear:both;
		}
		.table {
			width:100%;
			margin:120px 0px;
			border-collapse: collapse;
		}
		.table td{
			border:1px solid #ccc;
			font-size: 45pt;
			padding:20px;
			border-collapse: collapse;
		}
		.footer{
			font-size: 45pt
		}
		.footer div{
			margin:20px 0px;
		}
		.page {
			padding-top: 300px;
			page-break-after: always;

		}
        .fax-image{
            width:100%;

        }
        .page-title{
        	font-size: 60pt;
        	font-weight: bold;
        }
	</style>
    <div class="pdf-area">
    <div style="clear:both"></div>
    <div class="page-title">Per Booking Report</div>
    {% if data[0].items_list|length!=0 %}
    {% for item in data %}
		{% if params.attach_fax=="off" %}
    	<div class="page">
    		<div class="header">

                {% if item.customer %}
									{% if params.search_option=="Customer" %}
			    	<div><b>Customer:</b> {{item.customer}}</div>
									{% endif %}
									{% if params.search_option=="Authority" %}
			    	<div><b>Authority:</b> {{item.customer}}</div>
									{% endif %}
                {% endif %}
                {% if params.start %}
		    	<div><b>From Date:</b> {{params.start}}</div>
                {% endif %}
                {% if params.end %}
		    	<div><b>To Date:</b> {{params.end}}</div>
                {% endif %}
	    	</div>

				<table class="table table-bordered">
					<tr>
						<td><b>Booking ID</b></td>
						<td><b>Booking Reference Number</b></td>
						<td><b>Flight No</b></td>
						<td><b>Flight type</b></td>
						<td><b>Calculated Cost</b></td>

					</tr>
					{% for row_item in item.items_list %}
					<tr>
						<td>{{row_item.name}}</td>
						<td>{{row_item.booking_ref_no}}</td>
						<td>{{row_item.flight_number}}</td>
						<td>{{row_item.flight_type}}</td>
						<td>2888$</td>

					</tr>
			        {% endfor %}
				</table>


    	</div>
			{% endif %}
			{% if params.attach_fax=="on" %}
			{% for row_item in item.items_list %}
	    	<div class="page">
	    		<div class="header">

	                {% if item.customer %}
										{% if params.search_option=="Customer" %}
				    	<div><b>Customer:</b> {{item.customer}}</div>
										{% endif %}
										{% if params.search_option=="Authority" %}
				    	<div><b>Authority:</b> {{item.customer}}</div>
										{% endif %}
	                {% endif %}
	                {% if params.start %}
			    	<div><b>From Date:</b> {{params.start}}</div>
	                {% endif %}
	                {% if params.end %}
			    	<div><b>To Date:</b> {{params.end}}</div>
	                {% endif %}
		    	</div>

					<table class="table table-bordered">
						<tr>
							<td><b>Booking ID</b></td>
							<td><b>Booking Reference Number</b></td>
							<td><b>Flight No</b></td>
							<td><b>Flight type</b></td>
							<td><b>Calculated Cost</b></td>

						</tr>

						<tr>
							<td>{{row_item.name}}</td>
							<td>{{row_item.booking_ref_no}}</td>
							<td>{{row_item.flight_number}}</td>
							<td>{{row_item.flight_type}}</td>
							<td>2888$</td>

						</tr>

					</table>


	    	</div>
				<div class="page">
					<img src="{{row_item.fax.attachment}}"  class="fax-image" />
				</div>
				{% endfor %}
			{% endif %}

    	{% endfor %}
    	{% endif %}
    	{% if  data[0].items_list|length == 0 %}
			No results found...!
		{% endif %}
    </div>
